elpa/
*~
*.elc
.emacs.desktop
*.lock
.mc-lists.el
.org-id-locations
abbrev_defs
ac-comphist.dat
auto-save-list/
backups/
bookmarks
elpa/
eshell/
history
semanticdb/
server/
tetris.score
.emacs.d/tramp
url/
.Rhistory