*~
src
*.elc
elpa/
.emacs.d/init_bash.sh
.emacs.d/org-persist/
.emacs.d/ensime/
.emacs.d/games/
.emacs.d/session.*
.emacs.d/image-dired/
.emacs.d/ido.last
emacs/cider*
.lsp-session-v1
.emacs.desktop
*.lock
.mc-lists.el
.org-id-locations
abbrev_defs
ac-comphist.dat
auto-save-list/
backups/
bookmarks
eshell/
history
semanticdb/
server/
tetris.score
.emacs.d/tramp
url/
.Rhistory
.DS_Store
.emacs.d/org-clock-save.el
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/emacs-custom.el
.emacs.d/transient/
.emacs.d/emacs-init.el
.emacs.d/emacs-init.html
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/var/
# Emacs-lisp-native - compiled cache
.emacs.d/eln-cache/
.emacs.d/.trello/
straight/
projects
request/
org-roam.db
network-security.data
.cache/
**/*org.html
emacs/gjg-functions.el