#+title: %(identity gjg/blogpost-title)
#+author: Greg Grubbs
#+date: %<%FT%T%z>
#+publishdate: %<%FT%T%z>
#+draft: t
#+tags[]: nil nil
#+description: short post description

# put text for summary prior to 'more' tag

%?Summarized text

# more

Rest of the post!